<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('partials/nav.ejs'); -%>
    <h1>Contact Us</h1>
    <p>This is contact page here.</p>
    <ul>
        <li>Dept : <%= qs.dept %></li>
        <li>User Name : <%= qs.name %></li>
    </ul>
    <h4>Contact Form</h4>
    <form id="contact-form" method="post" action="/contact">
        <label>Why do you contact</label>
        <input type="text" name="who" />
        <label>Which Department</label>
        <input type="text" name="dept" />
        <label>Your email</label>
        <input type="text" name="email" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>