<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('partials/nav.ejs'); -%>
    <h1>Contact Us</h1>
    <p>This is contact page here.</p>
    <h4>Thank's for getting in touch</h4>
    <ul>
        <li>Welcome <%= data.who %>,</li>
        <li>To our <%= data.dept %> department</li>
        <li>We will contact to you <%= data.email %></li>
    </ul>
</body>
</html>